@import url("./fonts/stylesheet.css");
@media screen and (min-width: 769px) {
  .mobile-menu {
    display: none; }

  .mobile-menu-icon {
    display: none; } }
@media screen and (max-width: 768px) {
  .mobile-menu {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 190px;
    background: #191919;
    background: rgba(25, 25, 25, 0.9);
    color: white;
    top: 0px;
    left: -250px;
    transition: left 1s;
    overflow: auto; }

  .mobile-menu.show-menu {
    left: 0;
    transition: left 1s; }

  .mobile-menu-icon {
    float: right;
    position: absolute;
    top: 18px;
    right: 26px;
    width: 30px; }

  .site-header__menu {
    display: block !important; }
    .site-header__menu > .custom-logo-link > img {
      padding: 0 !important; }

  .nav-menu ul {
    flex-direction: column; }

  .nav-menu {
    padding-top: 30px ul;
      padding-top-flex-direction: column li;
        padding-top-flex-direction-border-bottom: 1px solid #878787; } }
.nav-menu ul {
  margin: 0;
  padding: 0;
  display: flex; }

.nav-menu li {
  white-space: nowrap;
  padding: 20px;
  width: 100%;
  list-style: none; }

.nav-menu li:hover {
  color: #ccc; }

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-size: 18px; }

.site-header__menu {
  display: flex;
  justify-content: space-between; }
  .site-header__menu > .custom-logo-link {
    max-width: 250px; }
    .site-header__menu > .custom-logo-link > img {
      height: 173px;
      object-fit: contain;
      padding-left: 10px; }
  .site-header__menu .desktop-navigation {
    width: -webkit-fill-available;
    margin-top: 20px;
    border-radius: 60px 0 0 60px;
    background-color: #f19ed4;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; }
    .site-header__menu .desktop-navigation .menu-items {
      margin-left: 20px; }
  .site-header__menu .mobile-navigation {
    display: none; }
  .site-header__menu .menu,
  .site-header__menu .menu-social {
    display: flex; }
  .site-header__menu .menu-item {
    list-style: none; }
    .site-header__menu .menu-item > a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
      font-family: 'Dosis';
      font-weight: 700;
      font-size: 20px; }
  .site-header__menu .menu-social > img {
    height: 35px;
    padding: 5px; }

@media (max-width: 768px) {
  .site-header__menu .desktop-navigation {
    min-height: 100px; }

  .menu-items {
    flex-wrap: wrap; }
    .menu-items > p {
      margin: 0; } }
@media (max-width: 436px) {
  .site-header__menu > img {
    margin: auto;
    padding-left: 50px; }
  .site-header__menu .desktop-navigation {
    display: none; }
  .site-header__menu .mobile-navigation {
    display: block; }
    .site-header__menu .mobile-navigation img {
      height: 50px; } }
body {
  margin: 0;
  background-color: #fff9e5; }

h1 {
  font-size: 36px;
  text-align: center;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2)); }

h1,
h2 {
  font-family: 'Bukhari Script';
  color: #66645c; }

h2 {
  font-size: 37px;
  margin: 0; }

h4 {
  font-family: 'Dosis';
  color: #e65cc8;
  padding: 0;
  margin: 0;
  font-size: 40px; }

p {
  font-family: 'Libre Baskerville Regular';
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px;
  text-align: justify; }

a {
  font-family: 'Dosis';
  color: #61DBE7;
  font-size: 35px; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

hb {
  height: 50px;
  display: block; }

.truckstripe {
  width: 100%;
  position: relative; }

.call-to-action {
  position: relative; }
  .call-to-action a {
    display: flex;
    justify-content: end; }
  .call-to-action img {
    border-radius: 50% 50% 0 0; }

.events {
  height: 474px; }

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none; }

a:hover {
  transform: scale(1.1);
  cursor: pointer; }

@media (min-width: 800px) {
  .events {
    width: 90% !important; }

  h1 {
    font-size: 60px; }

  .cta a {
    font-size: 37px; } }
.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.side-spacing {
  margin: 0 15px; }

@media (min-width: 800px) {
  .side-spacing {
    margin: auto;
    width: 800px; } }
.center-text {
  width: 100%;
  display: block;
  text-align: center; }

.retro-corner {
  width: 300px; }

@media (min-width: 800px) {
  a {
    font-size: 26px; }

  .retro-corner {
    width: 500px; }

  .where-we-will-be {
    margin-left: 200px;
    border-radius: 34px; }

  .move-up {
    position: relative;
    bottom: 305px !important; }

  .event-summary {
    text-align: center; } }
.where-we-will-be {
  padding: 20px;
  background-color: #61DBE7; }
  .where-we-will-be h2 {
    color: #FFF9E5;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2)); }
  .where-we-will-be p {
    max-width: 675px;
    margin: auto; }

.front-page-events {
  justify-content: center;
  font-family: 'Dosis';
  margin: auto;
  padding: 45px;
  display: grid;
  grid-row: auto auto;
  grid-column-gap: 60px;
  grid-row-gap: 50px; }

.event-summary {
  gap: 10px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Dosis'; }
  .event-summary .event-date {
    font-size: 31px;
    line-height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .event-summary .event-summary__day {
    font-size: 45px; }
  .event-summary .event-summary__content h5 {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 25px;
    padding: 0 10px;
    width: fit-content; }
  .event-summary .event-summary__content p {
    padding: 0 10px;
    margin: 0;
    text-align: start; }

@media (min-width: 1100px) {
  .front-page-events {
    grid-template-columns: 300px 300px; } }
.move-up {
  position: relative;
  bottom: 199px; }

.move-down {
  top: 400px;
  position: relative; }

@media (min-width: 800px) {
  .view-all-events {
    margin-left: inherit;
    display: flex;
    margin-left: 200px;
    padding-top: 20px;
    justify-content: space-evenly;
    flex-direction: row !important; } }
.milkshake-grid {
  display: flex;
  justify-content: center; }
  .milkshake-grid > img {
    width: 33%; }

.milkshakes p {
  text-align: left;
  margin: 0;
  padding: 0 0 0 10px; }
.milkshakes a {
  display: block;
  padding: 15px 0 0 21px; }
.milkshakes .flex-column {
  align-items: flex-start;
  justify-content: center; }

.smiley {
  object-fit: contain;
  width: 50%; }

@media (min-width: 800px) {
  .smiley {
    width: 23%; }

  .milkshakes {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .milkshakes .flex-column {
      margin-left: 35px; }
    .milkshakes p {
      padding: auto; } }
@media (max-width: 800px) {
  .event-summary__day {
    font-size: 31px !important; }

  a {
    font-size: 26px; }

  .smiley {
    width: 25%; }

  h2 {
    font-size: 30px; }

  .flex-column {
    align-items: center; }

  .move-down {
    top: 200px; }

  .slogan h2 {
    font-size: 18px; }
  .slogan h4 {
    font-size: 18px; }

  .where-we-will-be {
    background-color: unset; }
    .where-we-will-be h2 {
      margin: 0 0 0 30%;
      color: #66645C; }
    .where-we-will-be p {
      width: 75%;
      margin: 0 0 0 24%;
      text-align: end; }

  .event-summary {
    margin: auto;
    display: block;
    padding: 0; }

  .event-summary__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .event-summary__content p {
      text-align: center !important;
      font-size: 14px !important; }
    .event-summary__content h5 {
      font-size: 24px !important; }

  .event-date {
    font-size: 24px;
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: center;
    align-items: center;
    gap: 10px; }

  .front-page-events {
    grid-column-gap: 40px;
    grid-row-gap: 36px; } }
.banner {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden; }
  .banner p {
    display: inline-block;
    animation: marquee 36s linear infinite;
    font-family: 'Dosis';
    background: #F19ED4;
    color: #fff; }

.banner2 {
  animation-delay: 2.5s; }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }
.generic-content .has-background {
  background-color: #fff9e5 !important; }
.generic-content p {
  text-align: left; }

.events-page > div {
  grid-template-columns: auto; }

.site-footer {
  max-height: 400px;
  top: 400px;
  position: relative;
  background-color: #FFDE59;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .site-footer .footer-logo {
    width: 220px;
    bottom: 115px;
    position: relative; }
  .site-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    bottom: 195px; }
  .site-footer .footer-social {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .site-footer .footer-social img {
      height: 50px;
      margin-right: 20px; }
    .site-footer .footer-social button {
      padding: 18px;
      font-size: 24px;
      font-family: 'Dosis';
      font-weight: 600;
      /* height: 50px; */
      background: #ff914d;
      color: white;
      border: none;
      border-radius: 38px; }

.column {
  padding: 20px; }
  .column > p {
    padding: 5px;
    margin: 0; }
  .column a {
    font-family: 'Libre Baskerville Regular';
    color: black;
    font-size: 18px; }
  .column h2 {
    font-family: 'Dosis';
    font-size: 46px;
    margin: auto 0;
    text-align: center;
    color: #E65CC8; }
  .column > img {
    height: 300px; }

.website-copyright {
  font-size: 13px;
  top: 200px;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-image {
  justify-self: self-end; }

@media (max-width: 800px) {
  .website-copyright {
    top: 0 !important; }

  .site-footer {
    top: 200px !important; }

  .footer-container {
    display: flex !important;
    flex-direction: column;
    grid-template-columns: unset !important;
    gap: 20px;
    position: relative;
    top: -195px; }

  .site-footer {
    max-width: unset; }

  .footer-image {
    display: none; }

  .footer-heading {
    display: none; } }
img {
  max-width: 100%; }

/*# sourceMappingURL=styles.css.map */
