@import 'utilities/variables';

body {
	margin: 0;
	background-color: #fff9e5;
}
h1 {
	font-size: 36px;
	text-align: center;
}
h1,
h2 {
	font-family: 'Bukhari Script';
	color: #66645c;
}
h2 {
	font-size: 25px;
	margin: 0;
}
h4 {
	font-family: 'Dosis';
	color: #e65cc8;
	padding: 0;
	margin: 0;
	font-size: 26px;
}
p {
	font-family: 'Libre Baskerville Regular';
	font-size: 18px;
	letter-spacing: 2px;
	padding: 15px;
	text-align: justify;
}

a {
	font-family: 'Dosis';
	color: $blue-main;
	font-size: 24px;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

hb {
	height: 50px;
	display: block;
}

.truckstripe {
	width: 100%;
	position: relative;
	// bottom: 150px;
}

.call-to-action {
	position: relative;
	// bottom: 180px;
	// left: 80px;
	& a {
		display: flex;
		justify-content: end;
	}
}

.events {
	height: 474px;
}


.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .about-us__section {
// 	max-width: 600px;
// 	margin: 0 auto;
// 	& img {
// 		height: 297px;
// 	}
// 	& h2 {
// 		margin: 0 0 10px -15px;
// 	}
// 	& p {
// 		margin-top: 40px;
// 	}
// 	> div {
// 		height: 165px;
// 		display: flex;
// 		flex-direction: row;
// 		> div {
// 			> a {
// 				margin: 16px 25px 0 0;
// 			}
// 		}
// 	}
// }

.side-spacing {
	margin: 0 15px;
}

.center-text {
	width: 100%;
	display: block;
	text-align: center;
}

.retro-corner {
	width: 300px;
}

.where-we-will-be {
	padding-left: 100px;
}

.move-up {
	position: relative;
	bottom: 199px;
}

.milkshake-grid {
	display: flex;
	justify-content: center;
	> img {
		width: 33%;
	}
}

.milkshakes {
	& p {
		text-align: left;
		margin: 0;
		padding: 0 0 0 10px;
	}
	& a {
		display: block;
		padding: 15px 0 0 21px;
	}
	& .flex-column {
		align-items: flex-start;
		justify-content: center;
	}
}

.smiley {
	object-fit: contain;
	width: 50%;
}

.banner {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	& p {
		display: inline-block;
		animation: marquee 36s linear infinite;
		font-family: 'Dosis';
		background: $pink-light;
		color: $white;
	}
}

.banner2 {
	animation-delay: 2.5s;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
