// colors
$white: #fff;
$black: #000000;
$cream: #FFF9E5;
$dark-grey: #66645C;
$pink-main: #E65CC8;
$pink-light: #F19ED4;
$blue-main: #61DBE7;
$blue-light: #9CF7FB;
$blue-dark: #3FBFCB;
$orange: #FF914D;
$yellow: #FFDE59;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 436px;