@import 'utilities/variables';


.site-footer {
    top: 400px;
    position: relative;
    height: 300px;
    background-color: $yellow;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    & img {
        width: 220px;
        bottom: 100px;
        position: relative;
    }
}